<h1 *ngIf="userName">Willkommen, {{userName}}!</h1>
<h1 *ngIf="!userName">Willkommen!</h1>

<div class="card">
    <div class="content">

        <button class="btn btn-primary" (click)="logIn()">Login</button>
        <button class="btn btn-primary" (click)="logOut()">Logout</button>

    </div>

    <tabbed-pane [(activeId)]="activeTab" #tp="tabbedPane">
        <tab title="Paid" [id]="1">
            Hier stehen die bezahlten Rechnungen
        </tab>
        <tab title="Open" [id]="2">
            Hier stehen die nicht bezahlten Rechnungen
        </tab>
    </tabbed-pane>

    ActiveTab: {{activeTab}}
    ActiveTitle: {{tp.activeTab?.title}}
</div>